html.dark-theme {
  background: #181715;
  body {
    &:before {
      filter: hue-rotate(180deg) brightness(0.1);
    }
    .theme-default-content pre code,
    .theme-default-content pre[class*="language-"] code {
      color: #aaa;
    }
    img {
      filter: brightness(0.8);
    }

    // 首页
    .hero {
      img[alt=hero] {
        filter: hue-rotate(180deg) brightness(0.4);
      }
    }
    .home .features, .home .footer {
      border-top-color: var(--lineColor);
    }
  }
  ::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
    width: 4px;
    background-color: rgba(144, 144, 146, 0.5);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: rgb(32, 33, 36); /*滚动条的背景颜色*/
    border-radius: 0; /*滚动条的圆角宽度*/
  }
  ::-webkit-scrollbar {
    width: 10px; /*滚动条的宽度*/
    height: 8px; /*滚动条的高度*/
  }
  ::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: rgba(144, 144, 146, 0.5);
    border-radius: 6px;
    border: none;
    outline: none;
  }
  ::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: rgba(233, 233, 233, 1);
  }
}