details.custom-block.details {
  background-color: #fff;
  padding: 16px 24px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
  font-size: 14px;
  color: #4f7294;
  summary {
    user-select: none;
  }
  &:hover {
    color: #6d98c2;
    background-color: #f9fafc;
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
}

::selection {
  color: #fff;
  background-color #d49400;
}