details.custom-block.details {
  background-color: #fff;
  padding: 16px 24px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
  font-size: 14px;
  color: #4f7294;
  summary {
    user-select: none;
  }
  &:hover {
    color: #6d98c2;
    background-color: #f9fafc;
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
}

::selection {
  color: #fff;
  background-color #d49400;
}

.content__default {
  strong {
    color: #d49433;
  }
}
.medium-zoom-image {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
}
.medium-zoom-image--opened {
  z-index: 101;  
}

.medium-zoom-overlay {
    background-color: rgba(0,0,0,0.6) !important;
    z-index: 100;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('https://liu-lihao.github.io/js-ide/style/SourceCodePro-Medium.ttf') format('truetype');
}

* {
  word-break: break-all;
  font-family: 'SourceCodePro';
}