html {
  --themeColor: #d49400;
  --mainColor: #fff;
  --fontColor: #2c3e50;
  --boxShadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  --navBgColor: rgba(255,255,255,0.84);
  --sidebarBgColor: rgba(255,255,255,0.84);
  --lineColor: #f6f6f6;
}

html.dark-theme {
  --themeColor: #d49400;
  --fontColor: #8d8d8e;
  --navBgColor: rgba(26, 26, 29, 0.84);
  --mainColor: #1a1a1d;
  --boxShadow: none;
  --sidebarBgColor: rgba(26, 26, 29, 0.84);
  --lineColor: #444;
}